/* nav sec; */
#navbar{
    flex-direction: column;
}
/* home sections */
#home {
    height: 546px;
    padding: 3px 40px;
  }

  #home::before {

    height: 776px;

}
#home p{
font-size: 13px;
}
/* srvice sectionm */
#services{
    flex-direction: column;
}
#services .box {
    margin: 7px;
    padding: 23px;
  }
#clients{
    flex-wrap: wrap;
}
#clients img {
    width: 89px;
    padding: 6px;
    height: auto;

  }
/* utility classes */
.h-primery{
    font-size: 40px;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 8px;
    padding-bottom: 8px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
#contact-box form{
    width: 80%;
}



.services-container {

    margin-top: 192px;

}