*{
    margin: 0;
    padding: 0;
}
html{
   scroll-behavior: smooth;
}
/* CSS Variables */
:root{
  --navbar-height:59px;

}
/* Navigation Bar */

/* LOGO AND image */

#logo{
    margin: 10px 32px;
   
}
#logo img{
    height: 56px;
    margin: 20px 28px;   
}

#navbar{
   height: 49px;
    display: flex;
    align-items: center;
    width: auto;
   background-color: ;
   
}
#navbar {
   position: sticky;
   top: 0;
   z-index: 1;
 }
 

#navbar ul{
    font-family: 'Anton', sans-serif;
    display: flex;
   
}
 
#navbar::before {

   content: "";
   background-color: rgb(5, 31, 47);
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: 0.3;

}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
  display: block;
  color: white;
  padding: 3px 13px;
  border-radius:20px ;
  text-decoration: none;
}
#navbar ul li a:hover{
 color: black;
 background-color: white;
 opacity:0.4 ;
  }
  /* home section */
  #home {
    height: 460px;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
  }
  #home::before{
    content: "";
    background:url('img//css/bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    
    color: white;
    text-align: center;
}
#home p{
   font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}
 /* utility class */
 .h-primery{
font-size: 3.8rem;
padding: 12px;
font-family: 'Anton', sans-serif;
 }
 
 .h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Anton', sans-serif;
 }
 .h-primary{
    
        font-size: 2.5rem;
      
      
  }

 #services{
    display: flex;
    margin: 34px;
    padding: 23px auto auto auto;
    
 }

 #services .box {
    border: 2px solid brown;
    overflow: hidden;
    border-radius: 23px;
    margin: 25px 6px;
    margin-bottom: 24px;
 }  
#services .box img{
   height: 156px;
   margin: auto;
   display: block;
 }
 .services-container {
    margin-top: 112px;
  }
  #services .box h2{
    font-size: 2.3rem;
  }
  #services .box p{
   text-align: center;
  }

 .btn{
    color: rgb(100, 37, 37);
    padding: 6px 20px;
    background-color: aquamarine;
    border: 2px solid white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 25px;
    cursor: pointer;
 }
 #logo{
   cursor: pointer;
 }
 #home  button:hover{
    background-color: bisque;
 }
 #services .box p{
    font-size:1.2rem ;
 }
 .center{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 2.3rem;
  
 }
 #client-section{
position: relative;
 }
 #clients{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #clients img{
  height: 124px;
 }
 .client-item{
    padding: 34px;
 }
 #client-section::before{
    content: "";
    background: url('img/client.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4; 
}
/* contact section */
#contact{
   position: relative;
}
#contact::before{
   content: "";
   background: url('contact.jpeg') no-repeat center center/cover;
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: 0.7; 
}
footer{
   background-color: black;
   color: white;
   padding: 9px 20px;
}
#contact-box{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
   width: 100%;
   padding: 0.5rem;
   border-radius: 9px;
   font-size: 1.3rem;

} 
#contact-box form{
   width: 40%;
}
#contact-box label{
   font-size: 1.3rem;
   font-family: 'Anton', sans-serif;
}
